/* Option 2: Import via CSS */
/* @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"); */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

img{
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.main-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}

.myheader{
    background-color: black;
    color: white;
}

.main-header img{
    width: 120px;
    height: 40px;
}

.delivery{
    display: flex;
    align-items: center;
    line-height: 0px;  
    padding: 26px 0px;
    gap: 10px;
}
.delivery div h2{
    position: absolute;
    line-height: 0;
}

.delivery div:nth-child(2) p, .delivery div:nth-child(2) h2, .lineheight p, .lineheight h2{
    font-size: 12px;
}


.select, .india, .cart{
    display: flex;
    align-items: center;     
}

.select{
    position: relative;
    height: 45px;
    width: 470px;
    border: 3px solid orange;
    background-color: white;
    border-radius: 10px;
}

.select .bi{
    position: absolute;
    top: 0px;
    left: 419px;
    background-color:orange;
    padding: 8px 15px;
    border-radius: 0px 5px 5px 0px;
    
}

.select select, .select input{
    height: 40px;  
    border: none;
    border-radius: 5px 0px 0px 5px;
    
}

.select input{   
    border-radius: 5px;    
}


.select select{
    background-color: rgb(160, 154, 154);
    position: relative;
}

.select input[type=text] {
    width: 100%;
    outline: none;
    padding: 0 20px;
  }

.india, .cart{
    justify-content: space-between;  
    gap: 5px;   
}

.india img{
    width: 20px;
    height: 18px;
}

.india h2{
    font-size: 1rem;
}

.lineheight{
    line-height: 0px;
}

.bi-cart{
    font-size: 48px;
    color: orange;
}

.cart{
    position: relative;
}

.cart p{
    font-size: 22px;
    position: absolute;    
    left: 20px;
    top: 19px;
    color: orange;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.box{
    display: flex;
    justify-content: space-between;
}

.subheader{
    background-color: rgb(162, 133, 133)!important;
    padding: 20px 10px;
}

.subheader a{
    color: rgb(228, 236, 19);
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    padding: 5px 15px;
    border-radius: 8px;
    transition: all .5s ease-in;
}

.subheader a:hover{
    background-color: aqua;
    transition: all .3s ease-in;
    
}




